@font-face {
  font-family: 'Lato-Black';
  src: url('public/fonts/Lato-Black.ttf');
}

@font-face {
  font-family: 'Lato-BlackItalic';
  src: url('public/fonts/Lato-BlackItalic.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('public/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato-Hairline';
  src: url('public/fonts/Lato-Hairline.ttf');
}

@font-face {
  font-family: 'Lato-HairlineItalic';
  src: url('public/fonts/Lato-HairlineItalic.ttf');
}

@font-face {
  font-family: 'Lato-Italic';
  src: url('public/fonts/Lato-Italic.ttf');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('public/fonts/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato-LightItalic';
  src: url('public/fonts/Lato-LightItalic.ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('public/fonts/Lato-Regular.ttf');
}
