$lg: '@media only screen and (max-width : 1200px)';
$md: '@media only screen and (max-width : 979px)';
$sm: '@media only screen and (max-width : 767px)';
$xs: '@media only screen and (max-width : 480px)';
$xsMobile: '@media only screen and (max-width : 320px)';

$test1: 20px;
$test2: 40px;
