@import 'variables';
@import 'fonts';

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
*/

html, body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

#app {
  height: 100%;
}

button.primary {
  $button-background-color: #27AE60;

  background: $button-background-color;
  border: none;
  font-size: 1.6em;
  font-weight: 300;
  padding: 5px 0;
  width: 100%;
  border-radius: 3px;
  color: lighten($button-background-color, 40%);
  border-bottom: 4px solid darken($button-background-color, 10%);

  display: inline-block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);  

  &:hover {
    color: lighten($button-background-color, 30%);
    background: darken($button-background-color, 10%);
    border-bottom: 4px solid darken($button-background-color, 20%);
  }

  &:active, &:focus {
    outline: none;
  }
}

/* toastr overrides */
.toast-top-right {  
  top: 135px;
  right: 250px;
}
