@import 'variables';
@import 'fonts';

html, body {
  height: 100%;
}

body {
  font-family: 'Lato-Regular', sans-serif;
}

#app {
  height: 100%;
}

.btn-green {
  background: #27AE60;
  border: none;
  font-size: 1.6em;
  font-weight: 300;
  padding: 5px 0;
  width: 100%;
  border-radius: 3px;
  color: #b3eecc;
  border-bottom: 4px solid #1e8449;
}