.Header {
  $default-green: #21c163;
  $text-green: #b3eecc;

  padding: 20px 0;
  background: #27AE60;
  margin-bottom: 30px;

  h1 {
    display: inline-block;
    margin: 0;
    color: #b3eecc;
    font-size: 32px;
  }

  .back-button {
    float: left;
    width: 50px;
    border: none;

    &:hover {
      border: none;
    }
  }

  .user-dropdown-group {
    display: inline-block;
  }

  span.username {
    /* Adjust the text position so it aligns with the user icon */
    position: relative;
    top: -2px;
    margin-left: 2px;
  }

  .fa.fa-user {
    font-size: 24px;
    position: relative;
    padding-right: 10px;
    margin-right: 5px;

    &:after {
      /* Add a border that takes into account outer margin/padding */
      content: '';
      position: absolute;
      top: 2px;
      right: 0;
      height: 21px;
      width: 1px;
      background: #b3eecc;
    }
  }

  .back-button {
    margin-right: 30px;
  }

  .user-dropdown-container {
    display: inline-block;
    float: right;
  }

  ul.user-dropdown {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    
    li {
      font-size: 16px;
      display: inline-block;
      margin-right: -4px;
      position: relative;
      padding: 5px 10px;
      background: $default-green;
      box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
      cursor: pointer;
      transition: all 0.2s;
      color: $text-green;

      &:hover {
        background: darken($default-green, 5%);
        color: #fff;
      }
    }
  }

  ul.user-dropdown li ul {
    padding: 0;
    position: absolute;
    z-index: 1000;
    top: 42px;
    left: 0;
    width: 150px;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;

    li {
      background: $default-green; 
      display: block; 
      color: $text-green;

      &:hover {
        background: darken($default-green, 5%);
      }   
    }
  }

  ul.user-dropdown.selected li ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
