.TextArea {
  resize: none;
  width: 100%;
  font-family: 'Lato-Regular', sans-serif;
  border: 1px solid rgba(187, 187, 187, 0.45);
  box-shadow: 1px 1px 1px 0px rgba(187, 187, 187, 0.75);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;

  &:focus {
    outline: none;
    box-shadow: 2px 2px 2px 0px rgba(187, 187, 187, 0.75);
  }
}