<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>React Blogger Admin</title>
  </head>
  <body>
    <div id="app"></div>
    <script>
      if (<%- JSON.stringify(user) %> !== 'unauthenticated') window.user = <%- JSON.stringify(user) %>
    </script>
    <script src="/bundle.js"></script>
  </body>
</html>
